body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}
.navbar {
  background-color: #333;
  color: white;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  padding: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #aaa;
}

.container {
  width: 100%;
  display: flex;
}

.sidebar {
  width: 25%;
  background-image: url('https://img.freepik.com/vector-gratis/antecedentes-medicos-limpios_53876-101048.jpg?w=360&t=st=1704903379~exp=1704903979~hmac=7230014ac1c09fae3771cdd3c0c6f9e6ac2c12e8c3e92bc4991c8ef0659a1c94');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}


.cita-medica {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  height: 80vh;
  padding-top: 0;
  margin-top: -600px;
}




.cita-medica h2 {
  margin-bottom: 20px;
}

#form-cita-medica {
  width: 100%;
  max-width: 500px;
}

#form-cita-medica label {
  display: block;
  margin-bottom: 10px;
}

#form-cita-medica input, #form-cita-medica select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.acciones {
  display: flex;
  justify-content: space-between;
}

.acciones button {
  padding: 10px 20px;
  cursor: pointer;
}

.acciones button[type="submit"] {
  background-color: #4CAF50; /* Verde */
  color: white;
}

.acciones button[type="button"] {
  background-color: #f44336; /* Rojo */
  color: white;
}
